.env
*/.env
__pycache__
.DS_Store
resources/*
!resources/resources.txt

.ruff_cache

# local pipecat-ai module copy for hacking
pipecat

# my doodles are in here
notes.txt

# frontend build artifacts
frontend/node_modules
frontend/dist
frontend/.vite

# voice recordings
temp_local_recordings