# https://accounts.pipecat.daily.co/sign-up
DAILY_SAMPLE_ROOM_URL=https://yourdomain.daily.co/yourroom # (optional: for joining the bot to the same room repeatedly for local dev)

DAILY_API_KEY="pipecat.daily.co" Under `Settings` menu of agent, in `Daily` tab.

DAILY_API_URL=https://api.daily.co/v1

# https://app.play.ht/api/keys
PLAYHT_USER_ID=
PLAYHT_API_KEY=

CARTESIA_API_KEY="play.cartesia.ai/keys"

OPENAI_API_KEY="platform.openai.com/api-keys"

ANTHROPIC_API_KEY=
DEEPGRAM_API_KEY=
GOOGLE_API_KEY=
GROQ_API_KEY

# https://docs.pipecat.ai/server/utilities/smart-turn
FAL_SMART_TURN_API_KEY=
