# https://accounts.pipecat.daily.co/sign-up
DAILY_SAMPLE_ROOM_URL=https://yourdomain.daily.co/yourroom # (optional: for joining the bot to the same room repeatedly for local dev)
DAILY_API_KEY=
DAILY_API_URL=https://api.daily.co/v1

# https://play.ht/
PLAYHT_USER_ID=
PLAYHT_API_KEY=

# https://docs.pipecat.ai/server/utilities/smart-turn
FAL_SMART_TURN_API_KEY=

CARTESIA_API_KEY=
DEEPGRAM_API_KEY=

OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
